{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BBSW</title>
    <link rel="stylesheet" href="{% static 'css/style_formation.css' %}">
 
</head>
<body>
    <section>



        <div class="navigator">
            <nav>
                <ul>
                    <li><img src="{% static 'css/husky.png' %}" id="icone"></li>
                    <li><a href="/plan-investissement/">Mon plan d'investissement</a></li>
                    <li><a href="/me-former/">Formation / Newsletter</a></li>
                </ul>
            </nav>
        </div>
        

        

        <div class="classe-actif">
            <div class="numero_uno">
                <p>Un investissement peut être effectué dans différents domaines, dans différentes entreprises ou biens matériels, immatériels, </n>
                afin de générer un rendement en espérant une montée de la valeur de ces biens. Il existe principalement 3 classes d'actifs. </p>
            </div>
            <button  class="premiere-classe">Les obligations / FOREX</button>
            <button  class="seconde-classe">Les biens matériels</button>
            <button  class="troisieme-classe">Les actions</button>
        </div>


        <div id="content" >

            <h2>Contenu affiché au milieu de la page</h2>
                
        </div> 
        <script>
            document.querySelectorAll('.class-actif button').forEach(button => {
                button.addEventListener('click', () => {
                    // Récupération du texte du bouton cliqué
                    const buttonText = button.textContent;
                
                    document.getElementById('content').innerHTML = buttonText;
                    document.getElementById('content').classList.add('hidden');
                });
            });
        </script>



    

     
        
    </section>
</body>